/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

main {
  text-align:justify;
  padding: 20px, 0;
}

form {
  text-align: center;
}

h1 {
  font-family: "Lato", bold;
  font-size: 30px;
  margin: 10 10px 15px 10px;
  text-align: center;
}
h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 10 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0 10px 15px 0;
  text-align: justify;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;

}

.item-double {
  flex: 2;
  margin: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul  {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  display: flex; 
  justify-content: center;
  list-style: none;
  color: #ecdbc9;
  text-decoration: none;
  margin: 0 20px 0 0;
  padding-bottom: 20px;
}

header nav ul li :last-child a {
  display: flex;
  color: #bdbdbd;
  text-decoration: none;
  display: flex ;
  margin-right: 0;

}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query (desktop) ------- */

@media all and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 20px;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color:fuchsia;
  }

  .group {
  flex-direction: row;
  }

  .item {
    flex-direction: row;
  }
}

/* -------- Images ----------- */ 

main img {
  width: 100%;
}